body {
    background: rgb(200, 68, 119);
    background: linear-gradient(45deg, rgba(200, 68, 119, 1) 0%, rgba(121, 67, 118, 1) 100%);
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    height: 90vh;


    h1 {
        font-weight: 500;
    }

    input {
        padding: 0.5rem;
        background-color: #e0e0e0;
        border-radius: 0.25rem;
        border-style: none;
        width: 93%;
    }

    input[type=radio] {
        width: 15%;
        background-color: gray;
    }
}

.select {
    padding: 0.5rem;
    background-color: #e0e0e0;
    border-radius: 0.25rem;
    border-style: none;
    width: 100%
}

.container {
    background-color: white;
    margin: 10%;
    padding: 5%;
    border-radius: 0.5rem;
    gap: 1rem;
}

.grid-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: auto auto;
    padding-bottom: 5%;
}


.btn {
    color: white;
    background-color: #5a73d0;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border-style: none;
    width: 20%;
    font-size: 1rem;
    font-weight: 500;

}

.form-container {
    padding: 2% 0;
}