body {
    background: linear-gradient(45deg, rgba(200, 68, 119, 1) 0%, rgba(121, 67, 118, 1) 100%);
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    height: 90vh;
}

h1 {
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 2rem;
}

input {
    padding: 0.5rem;
    background-color: #f5f5f5;
    border-radius: 0.25rem;
    border: 1px solid #e0e0e0;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
}

input[type="radio"] {
    width: 15%;
    background-color: gray;
}

.select {
    padding: 0.5rem;
    background-color: #f5f5f5;
    border-radius: 0.25rem;
    border: 1px solid #e0e0e0;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
}

.container {
    background-color: white;
    margin: 10%;
    padding: 5%;
    border-radius: 0.5rem;
    gap: 1rem;
}

.grid-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: auto auto;
    padding-bottom: 5%;
}

.btn {
    color: white;
    background-color: #5a73d0;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    width: 20%;
    font-size: 1rem;
    font-weight: 500;
}

.form-container {
    padding: 2% 0;
}
